# Repository

## CS61A - empty template folders used as a backup in case those are no longer available online
downloads

# Python

## Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

## Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
