repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: requirements-txt-fixer

  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
    - id: black

  - repo: https://github.com/jorisroovers/gitlint
    rev:  v0.17.0
    hooks:
      - id: gitlint
        args: [--contrib=contrib-title-conventional-commits, --ignore=body-is-missing, --msg-filename]
